.pointer {
    cursor: pointer;
}
.highScoreHeader {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    /* margin-right: auto; */
    height: auto;
    text-align: center;
}

.hover:hover, .emphasize {
    background-color: var(--bs-info);
}
.forbidden {
    cursor: not-allowed !important;
}

.forbidden input[type='checkbox'] {
    cursor: not-allowed !important;
}
.lastComputerMove {
    background-color: var(--bs-warning);
}